# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
/out_bak/

# production
/build

# misc
.DS_Store
*.pem
out-inspect.png

# local env files
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
